{% extends "layout.html" %}

{% block content %}

<div class="container">
    <form role="form" action="{{ BASE_URL }}/survey/q2" method="post" id="q2" name="q2">
        {% csrf_token %}
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Sex</th>
                    <th>Age</th>
                    <th>ID</th>
                </tr>
            </thead>
            <tbody>
                {% for friend in friends %}
                    <tr><td>{% if friend.full_name != None %}{{ friend.full_name }}{% endif %}</td>
                    <td>{% if friend.city != None %}{{ friend.city }}{% endif %}</td>
                    <td>{% if friend.state != None %}{{ friend.state }}{% endif %}</td>
                    <td>{% if friend.sex != None %}{{ friend.sex }}{% endif %}</td>
                    <td>{% if friend.age != None %}{{ friend.age }}{% endif %}</td>
                    <td>{% if friend.third_party_id != None %}{{ friend.third_party_id }}{% endif %}</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
</div>

{% endblock %}