{% extends "layout.html" %}

{% block content %}

<div class="container">
    <form role="form" action="{{ BASE_URL }}/survey/save_screener" method="post" id="q1" name="q1">
        {% csrf_token %}
        <h2>Please enter the respondent ID</h2>
        <input id="r_suid" name="r_suid" type="input" class="form-control" placeholder="SU_ID"  required autofocus>
        <button id="next_btn" class="btn btn-lg btn-primary btn-block" type="submit">Next</button>
    </form>
</div>

{% endblock %}