<!DOCTYPE html>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<html lang="en" class="no-js">
	<title>IFD&TC Facebook Survey Connector Demo</title>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- JQuery -->
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
		<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
		<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  		
  		<!-- Bootstrap -->
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

		<!-- Custom styling and javascript to override included libraries -->
  		{% block css %}{% endblock %}
  		{% block javascript %}{% endblock %}

  		<style type="text/css">
			{% block styles %}{% endblock %}
		</style>
	</head>
	<body>
		<div id="container_content" class="container">
			{% block content %}{% endblock %}
		</div>
	</body>
</html>